<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demolition">

        <activity
            android:name=".QuizQuestionsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChapterViewer"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".sst"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".English"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Science"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Math"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserData"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Signup"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>